@charset "utf-8";
@import "commen";
.registerbox{
	margin: 30px 32px;
}
.register{
	float: left;
	border: 2px solid #ccc;
	background: white;
	margin-bottom:10px;
	width: 626px;
	height: 405px;
	.title{
		color: #1566c0;
		height: 44px;
		padding: 0 20px;
		border-bottom: 1px solid #ccc;
		h2{
			font-size: 24px;
			line-height: 44px;
		}
	}
	.boxbody{
		font-size: 14px;
		.zhong{
				text-align: center;
			}
		ul li{	
			margin:10px 10px 33px 0px;
			label{

				line-height: 26px;
				display: inline-block;
				width: 145px;
				height: 26px;
				text-align: right;
			}
			.xiao{
				padding-bottom: 6px;
				margin-right: 5px;
			}
			a{
				display: inline;
				color: red;
			}
			input{
				border:1px solid #ddd;
				height: 26px;
    			line-height: 26px;
    			padding: 1px 4px;
			}
			.t{
				
				width: 288px;
    			
			}
			button{
				margin:0 auto;
				border: none;
				width: 72px;
				height: 35px;
				padding: 0 15px;
				color: #fff;
				background: #ff5d59;
				border-radius: 3px;
			}

		} 
	
	}

}
.zhuanzhe{
	margin-left: 655px;
	width: 499px;
	height: 46px;
	padding: 40px 20px 170px 25px;
	border-left: 1px  dotted #ccc;
	a{
		display: inline-block;
		padding: 0 30px;
		height: 46px;
		line-height: 46px;
		background: #ff5d59;
		border-radius: 3px;
		border:none;
		color: #fff;
		font-size: 20px;
	}
}